<% dummy = MediaConverter.new %>
<table class="table table-bordered">
  <tr>
    <th><%= model_column_string dummy, "name" %></th>
    <th><%= model_column_string dummy, "manufacturer" %></th>
    <th>伝送損失(dB)</th>
    <% %w( fiber_type code_core_num price buying_price sale_price bandwidth desc).each do |name| %>
    <th><%= model_column_string dummy, name %></th>
    <% end %>
    <% if is_menu == true %>
    <th></th>
    <% end %>
  </tr>

<% @media_converters.each do |media_converter| %>
  <tr>
    <td><%= media_converter.name %></td>
    <td><%= media_converter.manufacturer %></td>
    <td><%= media_converter.trans_lost_from %> ~ <%= media_converter.trans_lost_to %></td>
    <td><%= media_converter.fiber_type %></td>
    <td><%= media_converter.code_core_num %></td>
    <td><%= number_to_currency media_converter.price, format: '%u %n', unit: '¥', precision: 0 %></td>
    <td><%= number_to_currency media_converter.buying_price, format: '%u %n', unit: '¥', precision: 0 %></td>
    <td><%= number_to_currency media_converter.sale_price, format: '%u %n', unit: '¥', precision: 0 %></td>
    <td><%= convert_size media_converter.bandwidth %></td>
    <td><%= convert_size media_converter.desc %></td>
    <% if is_menu == true %>
    <td>
      <a class="btn btn-primary" href="<%= url_for edit_media_converter_path(media_converter) %>">修正</a>
      <%= link_to '削除', media_converter, method: :delete, data: { confirm: '削除しますがよろしいですか?' }, class: "btn btn-danger" %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>
